// Font
$default-font-size       : 1.6rem;
$default-font-weight     : 300;
$default-line-height     : 1;
$default-font: 'Roboto', Arial, sans-serif;

//grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$offset-lg               : 40px;
$offset-default          : 30px;

// Size

$desktopWidthLg          : 1600px;
$desktopWidth            : 1230px;
$tabletWidthLg           : 992px;
$tabletWidth             : 800px;
$phoneWidthLg            : 600px;
$phoneWidth              : 360px;

// Main color
$color-white: #ffffff;
$color-black: #000;
$color-dark: #1C1C1C;
$color-primary: #435993;
$color-primary-light: #E9EFFF;
$color-grey: #C8C8C8;
$color-grey-light: #E5E5E5;
$color-grey-light-2: #E8E8E8;
$color-red: #f23730;