header.header
	.container
		button(class="hamburger hamburger--collapse hamburger--accessible js-hamburger u-visible-tablet" type="button")
			span(class="hamburger-box")
				span(class="hamburger-inner")
		nav.nav
			.nav__close.u-visible-tablet &times;
			.nav__list
				.nav__item
					a(href="#personal").nav__link Личная информация
				.nav__item
					a(href="#experience").nav__link Опыт
				.nav__item
					a(href="#js").nav__link JavaScript
				.nav__item
					a(href="#about").nav__link О себе